@media (min-width: 768px) {
    .notice-inline {
        display: inline-block;
        max-width: 33%;
        max-width: calc(33% - 20px);
        margin-right: 20px !important;
        vertical-align: top;
    }
}


[data-vc-shortcode-param-name="extra_el_classes"] label.vc_checkbox-label {
    display: block;
}

span.vc_admin_label.admin_label_reboot_template[style*=inline] {
    display: block !important;
    margin-bottom: 50px;
    background: darkorange;
    color: #fff;
    padding: 5px 10px;
}

span.vc_admin_label.admin_label_reboot_template[style*=inline]:before {
    content: "TOP ROW WILL VE REPLACED with ";
}

.acf-hl .acf-bl>li {
    display: inline-block;
    margin-right: 10px;
}