@font-face {
  font-family: 'dashicons-reboot';
  src:
    url('fonts/dashicons-reboot.ttf?vov8b2') format('truetype'),
    url('fonts/dashicons-reboot.woff?vov8b2') format('woff'),
    url('fonts/dashicons-reboot.svg?vov8b2#dashicons-reboot') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="dashicons-reboot-"], [class*=" dashicons-reboot-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dashicons-reboot' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashicons-reboot-clickcarrot:before {
  content: "\e904";
}
.dashicons-reboot-click-carrot:before {
  content: "\e904";
}
.dashicons-reboot-brain-work:before {
  content: "\e902";
}
.dashicons-reboot-fevreka:before {
  content: "\e900";
}
.dashicons-reboot-irm-digital:before {
  content: "\e901";
}
.dashicons-reboot-reboot:before {
  content: "\e903";
}
