@media (max-width: 991px) {
    .has-one-column-under-desktop > .wpb_column {
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .has-two-columns-at-mobile > .wpb_column {
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .has-zigzag-rows > .vc_row:nth-child(even) > .wpb_column:first-child {
        -webkit-transform: translate(100%);
        transform: translate(100%);
    }

    .has-zigzag-rows > .vc_row:nth-child(even) > .wpb_column:last-child {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
}
