.c-post-list__link {
    display: block;
    text-decoration: none;
}

.c-post-list__date,
.c-post-list__title,
.c-post-list__description {
    display: block;
}

.c-post-list__title {
    color: #333;
}

.c-post-list__date,
.c-post-list__description {
    color: #85868c;
}

.c-post-list__item {
    margin-bottom: 15px;
}

.c-post-list__image {
    float: left;
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.c-post-list__image ~ span {
    margin-left: 60px;
}