/**
 * Admin Bar
 */

#wp-admin-bar-wp-logo .ab-item [class*="dashicons-"] {
    font-size: 20px;
}

#wp-admin-bar-wp-logo .ab-item [class*="dashicons-"]:before {
    top: 2px;
}

@media (max-width: 782px) {

    #wp-admin-bar-wp-logo .ab-item {
        width: 52px !important;
        text-align: center;
    }

    #wp-admin-bar-wp-logo .ab-item [class*="dashicons-"] {
        font-size: 24px;
        vertical-align: middle;
    }
}

.wpb_reboot_smart_link .wpb_vc_param_value.content.textarea_html {
    display: none !important;
}

/**
 * u-text-white
 */

.u-text-white,
.u-text-white .aio-icon-title,
.u-text-white .aio-icon {
    color: #fff !important;
}

/**
 * has-grayscale-image-hover
 */

#main .has-grayscale-image-hover img {
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    -webkit-transition: .5s ease-in-out; /* For Webkit browsers */
    -moz-filter: grayscale(100%); /* For Firefox */
    -moz-transition: .5s ease-in-out; /* For Firefox */
    -o-filter: grayscale(100%);
    -o-transition: .5s ease-in-out;

    opacity: 0.4;
}

#main .has-grayscale-image-hover img:hover,
#main .has-grayscale-image-hover a:hover > img {
    -webkit-filter: grayscale(0%); /* For Webkit browsers */
    -webkit-transition: .5s ease-in-out; /* For Webkit browsers */
    -moz-filter: grayscale(0%); /* For Firefox */
    -moz-transition: .5s ease-in-out; /* For FireFox */
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;

    opacity: 1;
}

/**
 * The 7 fixes
 */

.dt-gallery-container {
    text-align: center;
}

.screen-reader-text,
.u-hidden-visually {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}


/**
 * Fancy upload
 */

.c-fancy-upload__tip { padding: 10px 0; height: 46px; display: inline-block; vertical-align: top; }
.c-fancy-upload { position: relative; display: inline-block; margin-right: 30px; height: 46px; max-width: 65%; vertical-align: top; overflow: hidden; }
.c-fancy-upload, .c-fancy-upload * { cursor: pointer; }
.c-fancy-upload .c-fancy-upload__file-name { display: block; padding: 10px 0 10px 5px; white-space: nowrap; max-width: 100%; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.c-fancy-upload .c-fancy-upload__file-name:before { font-family: "Font Awesome 5 Free"; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; font-weight: 900; content: ""; padding-right: 15px; -webkit-transform-origin: 0 50%; -moz-transform-origin: 0 50%; -ms-transform-origin: 0 50%; -o-transform-origin: 0 50%; transform-origin: 0 50%; -webkit-transform: scale(1.56); -moz-transform: scale(1.56); -ms-transform: scale(1.56); -o-transform: scale(1.56); transform: scale(1.56); }
.c-fancy-upload input[type=file] { font-size: 100px; position: absolute; z-index: 100; left: 0; top: 0; opacity: 0; }
.c-fancy-upload .wpcf7-not-valid + .c-fancy-upload__file-name,
.c-fancy-upload .wpcf7-not-valid + .c-fancy-upload__file-name:before { color: #f00; }

/**
 * Shadow utility
 */

.u-shadow {
    z-index: 100;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0,0,0.1) !important;
    box-shadow: 0 2px 10px rgba(0, 0,0,0.1) !important;
}

/**
 * Align
 */

@media (max-width: 767px) {
    .u-center-at-mobile,
    .u-center-at-mobile h1,
    .u-center-at-mobile h2,
    .u-center-at-mobile h3,
    .u-center-at-mobile h4,
    .u-center-at-mobile .ubtn-ctn-left {
        text-align: center !important;
    }
}

/**
 * increase-font-sizes
 */

@media (min-width: 768px) {

    html body [class*="increase-font-sizes"] * {
        font-size: inherit !important;
        line-height: 1.5 !important;
    }

    html body .increase-font-sizes .button,
    html body .increase-font-sizes button,
    html body .increase-font-sizes input[type="submit"] {
        height: auto !important;
    }

    html body .increase-font-sizes-1dot25x { font-size: 1.25em !important; }
    html body .increase-font-sizes-1dot5x { font-size: 1.5em !important; }
    html body .increase-font-sizes-2x { font-size: 2em !important; }
    html body .increase-font-sizes-2dot5x { font-size: 2.5em !important; }
    html body .increase-font-sizes-3x { font-size: 3em !important; }

}

/**
 * force-full-width-single-image
 */

.force-full-width-single-image,
.force-full-width-single-image * {
    width: 100% !important;
    height: auto !important;
}
